{% extends 'main/base.html' %}
{% load static %}
{% load goods_tags %}

{% block title %}{{ context }}{% endblock %}

{% block header %}
  <!-- Header content block, displaying page header and description -->
  <h1 class="display-4 fw-bolder">{{ content }}</h1>
  <p class="lead fw-normal text-white-50 mb-0">{{ description }}</p>
  <!-- Additional header content can be added here -->
{% endblock %}

{% block content %}
    <!-- Filter Form -->
    <div class="dropdown mb-2">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filters
        </button>

        <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu p-4 text-bg-dark">
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="on_sale" id="saleCheck" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                    {% if request.GET.q %}
                        <input type="hidden" name="q" value="{{ request.GET.q }}">
                    {% endif %}
                    <label class="form-check-label" for="saleCheck">
                        Sale Items
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <p class="mb-1">Sort by:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_by" id="defaultSort" value="default" checked {% if request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                    <label class="form-check-label" for="defaultSort">
                        Default
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_by" id="priceLowHigh" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
                    <label class="form-check-label" for="priceLowHigh">
                        Price: Low to High
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="order_by" id="priceHighLow" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
                    <label class="form-check-label" for="priceHighLow">
                        Price: High to Low
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>

    {% if request.GET.q %}
        <div class="container mt-4">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info text-center" role="alert">
                        <h4 class="alert-heading">Search Results for "{{ request.GET.q|capfirst }}"</h4>
                    </div>
                </div>
            </div>
            {% if not goods %}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning text-center" role="alert">
                            <h5 class="alert-heading">No results found.</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

  <!-- Main content block for displaying products -->
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
    {% for product in goods %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge, shown only if the product has a discount -->
                {% if product.discount %}
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                    {{ product.discount|floatformat:"0" }}% Sale
                </div>
                {% endif %}
                <!-- Product image -->
                {% if product.image %}
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                {% else %}
                <img class="card-img-top" src="{% static 'images/Not found image.png' %}" alt="Image not found"/>
                {% endif %}
                <!-- Product details -->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name and author -->
                        <a href="{% url "catalog:product" product.slug %}" class="text-decoration-none text-dark">
                            <h5 class="fw-bolder">
                                {% autoescape off %}
                                    {% if product.headline %}
                                    {{ product.headline }}
                                    {% else %}
                                    {{ product.name }}
                                    {% endif %}
                                {% endautoescape %}
                            </h5>
                        </a>
                        <p class="fw-light">by {{ product.author }}</p>
                        <!-- Truncated product description -->
                        <p class="mb-1">
                            {% autoescape off %}
                                {% if product.bodyline %}
                                {{ product.bodyline|truncatechars:100 }}
                                {% else %}
                                {{ product.description|truncatechars:50 }}
                                {% endif %}
                            {% endautoescape %}
                        </p>
                        <!-- Product pricing, with or without discount -->
                        {% if product.discount %}
                        <span class="text-muted text-decoration-line-through">{{ product.price }}$</span>
                        {{ product.sell_price }}$
                        {% else %}
                        {{ product.price }}$
                        {% endif %}
                    </div>
                </div>
                <!-- Product actions (e.g., Add to cart button) -->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
    <!-- Pagination section -->
    {% if goods %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                 <a class="page-link" href="{% if goods.has_previous %}?page={{goods.previous_page_number}}{% else %}#{% endif %}">
                    &laquo; Previous
                </a>
            </li>
            {% for page in goods.paginator.page_range %}
                {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                    <li class="page-item {% if page == goods.number %}active{% endif %}">
                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if goods.has_next %}?page={{ goods.next_page_number }}{% else %}#{% endif %}" aria-label="Next">
                    Next &raquo;
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}
