{% extends 'base.html' %}
{%  load static %}
{% block title %}{{ context }}{% endblock %}

{% block header %}
    <!-- Header -->
    <h1 class="display-4 fw-bolder">{{ content }}</h1>
    <p class="lead fw-normal text-white-50 mb-0">{{ description }}</p>
    <!-- Add more content as needed -->
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-light p-5 mb-5 rounded shadow-sm">
            <h2 class="display-6 text-center mb-4">Sign In</h2>
            <form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="text" name="next" value="{{request.GET.next}}">
                {% endif %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control"
                           value="{% if form.username.value %}
                           {{ form.username.value }}
                           {% endif %}"
                           name="username"
                           id="username"
                           placeholder="Enter your username"
                           required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Log In</button>
            </form>
            <div class="mt-4 d-flex justify-content-between">
                <a href="#">Forgot Password?</a>
                <a href="{% url 'users:registration' %}">Create an Account</a>
            </div>
            <hr>
            <p class="text-center mt-3">Or sign in with:</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-outline-dark mx-2">
                    <img src="{% static 'images/icons/google.svg' %}" alt="Google" width="20" height="20"> Google
                </a>
                <a href="#" class="btn btn-outline-dark mx-2">
                    <img src="{% static 'images/icons/facebook.svg' %}" alt="Facebook" width="20" height="20"> Facebook
                </a>
                <a href="#" class="btn btn-outline-dark mx-2">
                    <img src="{% static 'images/icons/github.svg' %}" alt="GitHub" width="20" height="20"> GitHub
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
